## Chapter 4: Primitive Types

In [3]:
# program that counts the number of bits set to 1 in a nonnegative integer
def count_bits(x:int) -> int:
    num_bits = 0
    while x:
        num_bits += x & 1 # compares the bit reps of x and 1; always comparing rightmost value
        x >>= 1 # bits shifted right one place
    return num_bits

In [1]:
def alt_count_bits(x:int) -> int:
    return bin(x).count('1')

In [17]:
count_bits(52)

3

In [18]:
alt_count_bits(52)

3

In [16]:
x = 52
print(bin(x))
x>>=1
print(x)
print(bin(x))

0b110100
26
0b11010

In [2]:
# parity of word is 1 if the number of ones in the word are odd, zero otherwise
def parity(x:int) -> int:
    ones = alt_count_bits(x)
    if ones%2 != 0:
        return 1
    else:
        return 0

In [3]:
def book_parity(x:int) -> int: # brute force algorithm, O(n)
    result = 0
    while x:
        result ^= x & 1
        x >>= 1
    return result

In [4]:
parity(5267)

0

In [5]:
book_parity(5267)

0

In [6]:
# improved parity calculations based on erasing the lowest set bit in a word in a single operation
# Let k be the number of bits set to 1 in a particular word. Then this algorithm is O(k).
def parity(x: int) -> int: 
    result = 0
    while x:
        result ^= 1 # equivalent to result = result^1; note that ^ is bitwise XOR
        x &= x - 1 # drops the lowest set bit of x; equivalent to x = x & x - 1
    return result

## Learn.co review

### While Loops, Break, and Continue - Lab

In [2]:
slices_of_pie = 6
slices_eaten = 0

while slices_eaten < 6:
    print('Another slice eaten!')
    slices_eaten += 1
    print('Now eaten {} slices!'.format(slices_eaten))

Another slice eaten!
Now eaten 1 slices!
Another slice eaten!
Now eaten 2 slices!
Another slice eaten!
Now eaten 3 slices!
Another slice eaten!
Now eaten 4 slices!
Another slice eaten!
Now eaten 5 slices!
Another slice eaten!
Now eaten 6 slices!

In [9]:
time_for_breakfast = 1468
number_of_cooked_pancakes = 0

while number_of_cooked_pancakes < 5 and time_for_breakfast > 0:
    time_for_breakfast -= 15 + 27*2
    number_of_cooked_pancakes +=1
    print(time_for_breakfast)

1399
1330
1261
1192
1123

In [8]:
line_of_hungry_patrons = list(range(0,30))
fed_patrons = []
for i in line_of_hungry_patrons:
    if i%2 == 0:
        fed_patrons.append(i)
        line_of_hungry_patrons.remove(i)
    else:
        continue
        
print(line_of_hungry_patrons)
print(fed_patrons)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [10]:
people = [
    {'name': "Daniel", 'age': 29, 'job': "Engineer", 'pet': "Cat", 'pet_name': "Gato"}, 
    {'name': "Katie", 'age': 30, 'job': "Teacher", 'pet': "Dog", 'pet_name': "Frank"},
    {'name': "Owen", 'age': 26, 'job': "Sales person", 'pet': "Cat", 'pet_name': "Cosmo"},
    {'name': "Josh", 'age': 22, 'job': "Student", 'pet': "Cat", 'pet_name': "Chat"},
    {'name': "Estelle", 'age': 35, 'job': "French Diplomat", 'pet': "Dog", 'pet_name': "Gabby"},
    {'name': "Gustav", 'age': 24, 'job': "Brewer", 'pet': "Dog", 'pet_name': "Helen"}
]

In [13]:
iterat = 1
for i in people:
    if i.get('pet') == 'Dog':
        print(i.get('name'), 'has a dog! ', 'had to check ', iterat, ' number of records to find a dog owner.')
        break
    else:
        iterat += 1
        continue

Katie has a dog!  had to check  2  number of records to find a dog owner.

In [14]:
owners = []
for i in people:
    if i.get('pet') == 'Cat' and i.get('age') < 28:
        owners.append(i.get('name'))
    else:
        continue
print(owners)

['Owen', 'Josh']

In [15]:
for person in people:
    if person.get('age') > 29:
        print(person.get('name'))
        break
    else:
        continue

Katie

In [16]:
dog_owners = []
dogs = []
for person in people:
    if person.get('pet') == 'Dog':
        dog_owners.append(person.get('name'))
        dogs.append(person.get('pet_name'))
    else:
        continue

In [17]:
print(dog_owners)
print(dogs)

['Katie', 'Estelle', 'Gustav']
['Frank', 'Gabby', 'Helen']

In [21]:
list_of_odd_numbers_plus_ten = []
integer = 0
while len(list_of_odd_numbers_plus_ten) < 35:
    if integer%2 == 1:
        list_of_odd_numbers_plus_ten.append(integer + 10)
        integer += 1
    else:
        integer += 1
        continue
print(sum(list_of_odd_numbers_plus_ten))

1575

### Using Nested Loops - Lab

In [22]:
soccer_match = [
  { "home_team": True,
    "away_team": False,
    "country": "France",
    "num_passes": 484,
    "passes_completed": 423,
    "fouls_committed": 16,
    "colors": ["blue", "white", "red"],
    "players": [
      {
        "name": "Hugo LLORIS",
        "captain": True,
        "shirt_number": 1,
        "position": "Goalie"
      },
      {
        "name": "Benjamin PAVARD",
        "captain": False,
        "shirt_number": 2,
        "position": "Defender"
      },
      {
        "name": "Raphael VARANE",
        "captain": False,
        "shirt_number": 4,
        "position": "Defender"
      },
      {
        "name": "Samuel UMTITI",
        "captain": False,
        "shirt_number": 5,
        "position": "Defender"
      },
      {
        "name": "Paul POGBA",
        "captain": False,
        "shirt_number": 6,
        "position": "Midfield"
      },
      {
        "name": "Antoine GRIEZMANN",
        "captain": False,
        "shirt_number": 7,
        "position": "Forward"
      },
      {
        "name": "Kylian MBAPPE",
        "captain": False,
        "shirt_number": 10,
        "position": "Forward"
      },
      {
        "name": "Ousmane DEMBELE",
        "captain": False,
        "shirt_number": 11,
        "position": "Forward"
      },
      {
        "name": "Corentin TOLISSO",
        "captain": False,
        "shirt_number": 12,
        "position": "Midfield"
      },
      {
        "name": "Ngolo KANTE",
        "captain": False,
        "shirt_number": 13,
        "position": "Midfield"
      },
      {
        "name": "Lucas HERNANDEZ",
        "captain": False,
        "shirt_number": 21,
        "position": "Defender"
      }
    ],
  },
  { "home_team": False,
    "away_team": True,
    "country": "Australia",
    "num_passes": 390,
    "passes_completed": 332,
    "fouls_committed": 19,
    "colors": ["green", "gold"],
    "players": [
      {
        "name": "Mathew RYAN",
        "captain": False,
        "shirt_number": 1,
        "position": "Goalie"
      },
      {
        "name": "Mark MILLIGAN",
        "captain": False,
        "shirt_number": 5,
        "position": "Defender"
      },
      {
        "name": "Mathew LECKIE",
        "captain": False,
        "shirt_number": 7,
        "position": "Forward"
      },
      {
        "name": "Robbie KRUSE",
        "captain": False,
        "shirt_number": 10,
        "position": "Forward"
      },
      {
        "name": "Andrew NABBOUT",
        "captain": False,
        "shirt_number": 11,
        "position": "Forward"
      },
      {
        "name": "Aaron MOOY",
        "captain": False,
        "shirt_number": 13,
        "position": "Midfield"
      },
      {
        "name": "Mile JEDINAK",
        "captain": True,
        "shirt_number": 15,
        "position": "Midfield"
      },
      {
        "name": "Aziz BEHICH",
        "captain": False,
        "shirt_number": 16,
        "position": "Defender"
      },
      {
        "name": "Joshua RISDON",
        "captain": False,
        "shirt_number": 19,
        "position": "Defender"
      },
      {
        "name": "Trent SAINSBURY",
        "captain": False,
        "shirt_number": 20,
        "position": "Defender"
      },
      {
        "name": "Tom ROGIC",
        "captain": False,
        "shirt_number": 23,
        "position": "Midfield"
      }
    ]
  }
]

In [23]:
countries = []
for team in soccer_match:
    countries.append(team.get('country'))
print(countries)

['France', 'Australia']

In [25]:
colors = []
for team in soccer_match:
    for colrs in team['colors']:
        colors.append(colrs)
print(colors)

['blue', 'white', 'red', 'green', 'gold']

In [27]:
from pprint import pprint as pp

In [29]:
players = []
for team in soccer_match:
    for player in match['players']:
        players.append(player)
pp(players)

[{'captain': False,
  'name': 'Mathew RYAN',
  'position': 'Goalie',
  'shirt_number': 1},
 {'captain': False,
  'name': 'Mark MILLIGAN',
  'position': 'Defender',
  'shirt_number': 5},
 {'captain': False,
  'name': 'Mathew LECKIE',
  'position': 'Forward',
  'shirt_number': 7},
 {'captain': False,
  'name': 'Robbie KRUSE',
  'position': 'Forward',
  'shirt_number': 10},
 {'captain': False,
  'name': 'Andrew NABBOUT',
  'position': 'Forward',
  'shirt_number': 11},
 {'captain': False,
  'name': 'Aaron MOOY',
  'position': 'Midfield',
  'shirt_number': 13},
 {'captain': True,
  'name': 'Mile JEDINAK',
  'position': 'Midfield',
  'shirt_number': 15},
 {'captain': False,
  'name': 'Aziz BEHICH',
  'position': 'Defender',
  'shirt_number': 16},
 {'captain': False,
  'name': 'Joshua RISDON',
  'position': 'Defender',
  'shirt_number': 19},
 {'captain': False,
  'name': 'Trent SAINSBURY',
  'position': 'Defender',
  'shirt_number': 20},
 {'captain': False,
  'name': 'Tom ROGIC',
  'position': 'Midfield',
  'shirt_number': 23},
 {'captain': False,
  'name': 'Mathew RYAN',
  'position': 'Goalie',
  'shirt_number': 1},
 {'captain': False,
  'name': 'Mark MILLIGAN',
  'position': 'Defender',
  'shirt_number': 5},
 {'captain': False,
  'name': 'Mathew LECKIE',
  'position': 'Forward',
  'shirt_number': 7},
 {'captain': False,
  'name': 'Robbie KRUSE',
  'position': 'Forward',
  'shirt_number': 10},
 {'captain': False,
  'name': 'Andrew NABBOUT',
  'position': 'Forward',
  'shirt_number': 11},
 {'captain': False,
  'name': 'Aaron MOOY',
  'position': 'Midfield',
  'shirt_number': 13},
 {'captain': True,
  'name': 'Mile JEDINAK',
  'position': 'Midfield',
  'shirt_number': 15},
 {'captain': False,
  'name': 'Aziz BEHICH',
  'position': 'Defender',
  'shirt_number': 16},
 {'captain': False,
  'name': 'Joshua RISDON',
  'position': 'Defender',
  'shirt_number': 19},
 {'captain': False,
  'name': 'Trent SAINSBURY',
  'position': 'Defender',
  'shirt_number': 20},
 {'captain': False,
  'name': 'Tom ROGIC',
  'position': 'Midfield',
  'shirt_number': 23}]

In [30]:
captains = []
for team in soccer_match:
    for player in team['players']:
        if player['captain']:
            captains.append(player)
        else:
            continue
pp(captains)

[{'captain': True,
  'name': 'Hugo LLORIS',
  'position': 'Goalie',
  'shirt_number': 1},
 {'captain': True,
  'name': 'Mile JEDINAK',
  'position': 'Midfield',
  'shirt_number': 15}]

### Functions With Arguments

In [31]:
fork_fig = {'categories': [{'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'sandwiches', 'title': 'Sandwiches'},
  {'alias': 'salad', 'title': 'Salad'}],
 'coordinates': {'latitude': 35.10871, 'longitude': -106.56739},
 'display_phone': '(505) 881-5293',
 'distance': 3571.724649307866,
 'id': 'fork-and-fig-albuquerque',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/_-DpXKfS3jv6DyA47g6Fxg/o.jpg',
 'is_closed': False,
 'location': {'address1': '6904 Menaul Blvd NE',
  'address2': 'Ste C',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['6904 Menaul Blvd NE', 'Ste C', 'Albuquerque, NM 87110'],
  'state': 'NM',
  'zip_code': '87110'},
 'name': 'Fork & Fig',
 'phone': '+15058815293',
 'price': '$$',
 'rating': 4.5,
 'review_count': 604,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/fork-and-fig-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}

In [32]:
frontier_restaurant = {'categories': [{'alias': 'mexican', 'title': 'Mexican'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'coordinates': {'latitude': 35.0808088832532, 'longitude': -106.619402244687},
 'display_phone': '(505) 266-0550',
 'distance': 4033.6583235266075,
 'id': 'frontier-restaurant-albuquerque-2',
 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/M9L2z6-G0NobuDJ6YTh6VA/o.jpg',
 'is_closed': False,
 'location': {'address1': '2400 Central Ave SE',
  'address2': '',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['2400 Central Ave SE', 'Albuquerque, NM 87106'],
  'state': 'NM',
  'zip_code': '87106'},
 'name': 'Frontier Restaurant',
 'phone': '+15052660550',
 'price': '$',
 'rating': 4.0,
 'review_count': 1369,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/frontier-restaurant-albuquerque-2?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}

In [33]:
def restaurant_name(restaurant):
    return restaurant.get('name')

restaurant_name(frontier_restaurant)

'Frontier Restaurant'

In [34]:
def restaurant_rating(restaurant):
    return restaurant.get('rating')

restaurant_rating(frontier_restaurant)

4.0

In [35]:
def is_better(restaurant, alternative):
    if restaurant_rating(restaurant) > restaurant_rating(alternative):
        return True
    else:
        return False
print(is_better(frontier_restaurant, fork_fig))
print(is_better(fork_fig, frontier_restaurant))
print(is_better(fork_fig, fork_fig))

False
True
False

## Learn.co NumPy Review

In [1]:
import numpy as np

### Getting Started with NumPy - Lab

In [2]:
py_list = list(range(0,5))
py_range = range(0,5)
array_from_list = np.array(py_list)
array_from_range = np.array(py_range)

In [4]:
print(array_from_list.shape)
print(array_from_range.shape)

(5,)
(5,)

In [5]:
list_height_inches = [65, 68, 73, 75, 78]
array_height_inches = np.array(list_height_inches)
array_height_meters = array_height_inches*0.0254

In [6]:
list_weight_pounds = [150, 140, 220, 205, 265]
array_weight_pounds = np.array(list_weight_pounds)
array_weight_kg = array_weight_pounds/2.2046

In [7]:
bmi_array = np.divide(array_weight_kg, array_height_meters**2)

In [8]:
identity = np.ones(len(bmi_array))

In [9]:
bmi_array * identity

array([24.9613063 , 21.28692715, 29.02550097, 25.62324316, 30.62382485])

In [10]:
#skipping the level up

### Accessing Data with Pandas

In [11]:
import pandas as pd
from sklearn.datasets import load_wine
data = load_wine()
print(data)
df = pd.DataFrame(data.data, columns = data.feature_names)

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
        1.050e+03],
       [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
        1.185e+03],
       ...,
       [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
        8.350e+02],
       [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
        8.400e+02],
       [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
        5.600e+02]]), 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2]), 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'), 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178 (50 in each of three classes)\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n', 'feature_names': ['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']}

In [12]:
df.iloc[3]

alcohol                           14.37
malic_acid                         1.95
ash                                2.50
alcalinity_of_ash                 16.80
magnesium                        113.00
total_phenols                      3.85
flavanoids                         3.49
nonflavanoid_phenols               0.24
proanthocyanins                    2.18
color_intensity                    7.80
hue                                0.86
od280/od315_of_diluted_wines       3.45
proline                         1480.00
Name: 3, dtype: float64

In [13]:
# to select/slice rows
df.iloc[5:8] # notice the indices; first number is included, second isn't

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0
7,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0

In [14]:
# to perform column selections
df.iloc[:, 3:7]

     alcalinity_of_ash  magnesium  total_phenols  flavanoids
0                 15.6      127.0           2.80        3.06
1                 11.2      100.0           2.65        2.76
2                 18.6      101.0           2.80        3.24
3                 16.8      113.0           3.85        3.49
4                 21.0      118.0           2.80        2.69
..                 ...        ...            ...         ...
173               20.5       95.0           1.68        0.61
174               23.0      102.0           1.80        0.75
175               20.0      120.0           1.59        0.69
176               20.0      120.0           1.65        0.68
177               24.5       96.0           2.05        0.76

[178 rows x 4 columns]

In [15]:
df.loc[:, 'magnesium']

0      127.0
1      100.0
2      101.0
3      113.0
4      118.0
       ...
173     95.0
174    102.0
175    120.0
176    120.0
177     96.0
Name: magnesium, Length: 178, dtype: float64

In [16]:
# could also do the following
df['magnesium']

0      127.0
1      100.0
2      101.0
3      113.0
4      118.0
       ...
173     95.0
174    102.0
175    120.0
176    120.0
177     96.0
Name: magnesium, Length: 178, dtype: float64

In [17]:
df.loc[7:16, 'magnesium']

7     121.0
8      97.0
9      98.0
10    105.0
11     95.0
12     89.0
13     91.0
14    102.0
15    112.0
16    120.0
Name: magnesium, dtype: float64

In [18]:
# boolean indexing using .loc
df.loc[df['alcohol'] < 12]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
74,11.96,1.09,2.30,21.0,101.0,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886.0
75,11.66,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.80,1.23,2.14,428.0
77,11.84,2.89,2.23,18.0,112.0,1.72,1.32,0.43,0.95,2.65,0.96,2.52,500.0
84,11.84,0.89,2.58,18.0,94.0,2.20,2.21,0.22,2.35,3.05,0.79,3.08,520.0
87,11.65,1.67,2.62,26.0,88.0,1.92,1.61,0.40,1.34,2.60,1.36,3.21,562.0
88,11.64,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680.0
94,11.62,1.99,2.28,18.0,98.0,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345.0
96,11.81,2.12,2.74,21.5,134.0,1.60,0.99,0.14,1.56,2.50,0.95,2.26,625.0
103,11.82,1.72,1.88,19.5,86.0,2.50,1.64,0.37,1.42,2.06,0.94,2.44,415.0
109,11.61,1.35,2.70,20.0,94.0,2.74,2.92,0.29,2.49,2.65,0.96,3.26,680.0
110,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562.0
112,11.76,2.68,2.92,20.0,103.0,1.75,2.03,0.60,1.05,3.80,1.23,2.50,607.0
113,11.41,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0
115,11.03,1.51,2.20,21.5,85.0,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407.0
116,11.82,1.47,1.99,20.8,86.0,1.98,1.60,0.30,1.53,1.95,0.95,3.33,495.0
120,11.45,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625.0
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465.0
124,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380.0
127,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466.0

In [19]:
# .loc attribute is useful if you'd only want the color intensity for the
# wines with an alcohol percentage below 12
df.loc[df['alcohol'] < 12, ['color_intensity']]

     color_intensity
74              3.21
75              3.80
77              2.65
84              3.05
87              2.60
88              2.80
94              3.25
96              2.50
103             2.06
109             2.65
110             2.90
112             3.80
113             3.08
115             1.90
116             1.95
120             3.25
121             6.00
124             2.80
127             3.00

## Changing and setting values in DataFrames and series

### Changing values

In [20]:
# not interested in color intensity values for color intensities above 10
# want to set all color intensities to 10 when they are bigger than 10
df.loc[df['color_intensity'] > 10, 'color_intensity'] = 10

### Creating new columns

In [21]:
df.loc[df['color_intensity'] > 7, 'shade'] = 'dark'
df.loc[df['color_intensity'] <= 7, 'shade'] = 'light'

In [22]:
df.shape

(178, 14)

In [23]:
# within a .loc, | is 'or' and & is 'and'
# df[(condition1) | (condition2)]
df.loc[5:9] # notice that the ending index is inclusive

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,shade
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0,light
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,light
7,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0,light
8,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0,light
9,13.86,1.35,2.27,16.0,98.0,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045.0,dark

## Importing Data Using Pandas

df = pd.read_csv('file_location/file_name.csv', 
                  delimiter = '\t', 
                  skiprows = 1, 
                  nrows = 100) 
can specify header = row where column names are; starts importing data from that point
can delete rows with df = df.drop(0)

if you see: 
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 2: invalid continuation byte 
there is an encoding error, the most common encoding other than utf-8 that you are likely to come across is latin-1 

so just add the argument encoding = 'latin-1' in the pd.read_csv()

can add argument usecols = [listofintegers] to specify which columns 
or a list of strings 
can import a specific Excel sheet with arg sheet_name = string or integer in
pd.read_excel()

Can load entire Excel workbook (a collection of worksheets) with the
pd.ExcelFile() method 
example: 
workbook = pd.ExcelFile() 
workbook.sheet_names 
df = workbook.parse(sheet_name = 1, header = 2)

### Saving Data

df.to_csv('name.csv', index = False) # if we don't want index included in output 
df.to_excel('NewSavedView.xlsx')